@page "/about"

<h3>About CMRemote</h3>

<p>
    Project Repo: <a href="https://github.com/CrashMediaIT/CMRemote">https://github.com/CrashMediaIT/CMRemote</a>
</p>
<p>
    Brand: <a href="https://crashmedia.ca">crashmedia.ca</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
